body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    /* background-color: #c1e7b6; */
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 30%, rgba(148,187,233,1) 100%);
  }
  
  .game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #c1e7b6; /* Light green background */
    padding: 20px;
    border-radius: 10px;
  }
  
  
  .player {
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .roll-btn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .roll-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .reset-btn {
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

.play-post{

    width: 150px;
}